[tool.black]
line-length = 100
target-version = ['py310']
include = '\.pyi?$'

[tool.isort]
profile = "black"
line_length = 100
multi_line_output = 3

[tool.mypy]
python_version = "3.10"
warn_return_any = true
warn_unused_configs = true
ignore_missing_imports = true
check_untyped_defs = true

# Configuraciones específicas para librerías sin tipado estricto
[[tool.mypy.overrides]]
module = ["sklearn.*", "shap.*", "plotly.*", "tensorflow.*", "joblib.*"]
ignore_missing_imports = true
